/*
 * Site settings
 */

/* Typography */
$base-font-size: 16px;
$line-height: 1.6;
$baseline: $base-font-size * $line-height;

$font-1: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-2: "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Colors */
$color-link: #4183C4;
$color-link-hover: #333;

$color-text: #333;
$color-text-light: #666;


/* Positioning */
$margin-multiplier: 2;
$general-margin: $baseline * $margin-multiplier;