/*
 * Utilities
 */

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.align-left {
	float: left;
}

.align-right {
	float: right;
}

.clearfix {
	@include clearfix;
}

.no-padding {
	padding: 0 !important;
    // margin: 0 !important;
}

.img-responsive {
	max-width: 100%;
	height: auto;
	display: block;
}

.img-border {
	border: 30px solid #fff;
}

// @import "sprites/*.png";
// @include all-sprites-sprites(true);

.general-margin {
	margin-bottom: $general-margin;
}

.unstyled-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.inline-list {
	li {
		display: inline-block;
	}
}

.relative{
	position: relative;
}

.absolute-center{
	display: inline-block;
	position: absolute;
	left: 50%; top: 50%;
}