/*
 * Utilities
 */

.text-left {
	text-align: left !important;
}

.text-right {
	text-align: right !important;
}

.text-center {
	text-align: center;
}

.align-left {
	float: left;
}

.align-right {
	float: right;
}

.clearfix {
	@include clearfix;
}

.no-padding {
	padding: 0 !important;
}
.no-padding-r {
	padding-right: 0 !important;
}
.no-padding-l {
	padding-left: 0 !important;
}

.img-border {
	border: 30px solid #fff;
}

.general-margin {
	margin-bottom: $general-margin;
}

.unstyled-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.inline-list {
	li {
		display: inline-block;
	}
}

.relative{
	position: relative;
}

.absolute {
	position: absolute;
}

.absolute-center{
	display: inline-block;
	position: absolute;
	left: 50%; top: 50%;
}

.ttu {
	text-transform: uppercase;
}

.dib {
	display: inline-block;
}

.di {
    display: inline;
}

.equal {
	display: table;

	& > div[class*='col-'] {
		float: none;
	    display: table-cell;
	    vertical-align: middle;
	}
} 
